$primary-color: #ff6a13;
$secondary-color: #5b6770;
$success-color: #289c05;
$danger-color: #db0505;
$light-color: lighten($secondary-color, 35%);
$dark-color: darken($secondary-color, 10%);

$theme-colors: (
  primary: $primary-color,
  secondary: $secondary-color,
  success: $success-color,
  danger: $danger-color,
  light: $light-color,
  dark: $dark-color
);
